In [ ]:
from ib_client import ib_client

item = ib_client()

item.close_loop()

In [13]:
option_data = {"aapl":{"call":[{"date":"201","bid":1},{"date":"202","bid":2.5}]}}

In [4]:
a = {"a" : "test"}
c ={}
for a, b in a.items():
    c[a] = b

print(c)

{'a': 'test'}

In [38]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

# Get the current date
current_date = datetime.now()

# Add 8 months to the current date
future_date = current_date + relativedelta(months=8)

# print("Current date:", current_date)
# print("Future date:", future_date)
current_date = datetime.today() 
future_date = current_date + relativedelta(months=5)
current_date = current_date.strftime("%Y%m")
future_date = future_date.strftime("%Y%m")
print(current_date, future_date)
a = {'AAPL': {'expirations': ['20240405', '20240412', '20240419', '20240426', '20240503', '20240510', '20240517', '20240621', '20240719', '20240816', '20240920', '20241018', '20241115', '20241220', '20250117', '20250321', '20250620', '20250919', '20251219', '20260116', '20260618', '20261218'], 'strikes': [5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0, 100.0, 105.0, 110.0, 115.0, 120.0, 125.0, 130.0, 135.0, 140.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 152.5, 155.0, 157.5, 160.0, 162.5, 165.0, 167.5, 170.0, 172.5, 175.0, 177.5, 180.0, 182.5, 185.0, 187.5, 190.0, 192.5, 195.0, 197.5, 200.0, 202.5, 205.0, 207.5, 210.0, 215.0, 220.0, 225.0, 230.0, 235.0, 240.0, 245.0, 250.0, 255.0, 260.0, 265.0, 270.0, 275.0, 280.0, 285.0, 290.0, 295.0, 300.0, 305.0, 310.0, 320.0, 330.0, 340.0, 350.0, 360.0, 370.0, 380.0]}}
filtered_chain = [_ for _ in a["AAPL"]["expirations"] if current_date <= _ <= future_date]

202404 202409

In [42]:
filtered_chain = a.copy()
current_date = datetime.today() 
future_date = current_date + relativedelta(months=3)
current_date = current_date.strftime("%Y%m")
future_date = future_date.strftime("%Y%m")
price = 150.00
lower_strike, upper_strike = price*.9,price*1.025
filtered_chain["AAPL"]["expirations"] = [_ for _ in filtered_chain["AAPL"]["expirations"] if current_date <= _ <= future_date]
filtered_chain["AAPL"]["strikes"]= [_ for _ in filtered_chain["AAPL"]["strikes"] if lower_strike <= _ <= upper_strike]
filtered_chain

{'AAPL': {'expirations': ['20240405',
   '20240412',
   '20240419',
   '20240426',
   '20240503',
   '20240510',
   '20240517',
   '20240621'],
  'strikes': [135.0,
   140.0,
   144.0,
   145.0,
   146.0,
   147.0,
   148.0,
   149.0,
   150.0,
   152.5]}}

In [29]:
import pandas as pd

data = {
    "aapl": {"item1": {"bid": 2}, "item2": {"bid": 3}},
    "amz": {"item3": {"bid": 7}, "item5": {"bid": 8}},
}

# Flatten the nested dictionary
flat_data = {}
for key, value in data.items():
    for subkey, subvalue in value.items():
        flat_data[(key, subkey)] = subvalue["bid"]

# Convert to DataFrame
df = pd.DataFrame(flat_data.values(), index=pd.MultiIndex.from_tuples(flat_data.keys(), names=["company", "item"]), columns=["bid"])

df

               bid
company item
aapl    item1    2
        item2    3
amz     item3    7
        item5    8

In [32]:
import pandas as pd

data = {
    "aapl": {"item1": {"bid": 2}, "item2": {"bid": 3}},
    "amz": {"item3": {"bid": 7}, "item5": {"bid": 8}},
}

dfs = []

for company, items in data.items():
    for item, values in items.items():
        dfs.append(pd.DataFrame({"company": [company], "item": [item], "bid": [values["bid"]]}))

df = pd.concat(dfs, ignore_index=True)

print(df)

  company   item  bid
0    aapl  item1    2
1    aapl  item2    3
2     amz  item3    7
3     amz  item5    8

In [33]:
import pandas as pd

data = {
    "aapl": {"item1": {"bid": 2, "ask": 1}, "item2": {"bid": 3, "ask": 1}},
    "amz": {"item3": {"bid": 7, "ask": 1}, "item5": {"bid": 8, "ask": 1}},
}

# Create a list of dictionaries
dict_list = [
    {"company": company, "item": item, "bid": values["bid"], "ask": values["ask"]}
    for company, items in data.items()
    for item, values in items.items()
]

# Convert the list of dictionaries into a DataFrame
df = pd.DataFrame(dict_list)

print(df)

  company   item  bid  ask
0    aapl  item1    2    1
1    aapl  item2    3    1
2     amz  item3    7    1
3     amz  item5    8    1