In [ ]:
from ib_client import ib_client
import pandas as pd

item = ib_client()

Connection Starts
Error -1 2104 Market data farm connection is OK:usfarm.nj
Error -1 2104 Market data farm connection is OK:cashfarm
Error -1 2104 Market data farm connection is OK:usfarm
Error -1 2106 HMDS data farm connection is OK:ushmds
Error -1 2158 Sec-def data farm connection is OK:secdefil

Portfolio Update: MO, Position: 100.0, Market Price: 59.86999895
Portfolio Update: PFE, Position: 100.0, Market Price: 24.54999925
Portfolio Update: TSLA, Position: 100.0, Market Price: 324.8500061
Portfolio download complete for account: DU2774079
Error -1 2100 API client has been unsubscribed from account data.

In [ ]:
list1 = item.req_portfolio()
df = pd.DataFrame(list1)

In [5]:
df

,symbol,sec_type,expiry,strike,right,position,market_price,market_value,average_cost,unrealized_pnl,realized_pnl,account_name
0,MO,STK,,0.0,0,100.0,59.869999,5987.0,42.95,1692.0,0.0,DU2774079
1,PFE,STK,,0.0,0,100.0,24.549999,2455.0,28.24,-369.0,0.0,DU2774079
2,TSLA,STK,,0.0,0,100.0,324.850006,32485.0,162.51,16234.0,0.0,DU2774079

In [ ]:
item.close_loop()