In [ ]:

# add scripts from another folder
import sys
import os

# Add the 'lib' directory to sys.path
current_dir = os.getcwd()
lib_path = os.path.abspath(os.path.join(current_dir, '..', 'ibkr_lib'))
sys.path.append(lib_path)

# import modules
from ib_client import ib_client
import pandas as pd

# initialize item
item = ib_client(port=7496)

Connection Starts
Error -1 2104 Market data farm connection is OK:hfarm
Error -1 2104 Market data farm connection is OK:usfarm.nj
Error -1 2104 Market data farm connection is OK:afarm
Error -1 2104 Market data farm connection is OK:cashfarm
Error -1 2104 Market data farm connection is OK:usopt
Error -1 2104 Market data farm connection is OK:usfarm
Error -1 2106 HMDS data farm connection is OK:apachmds
Error -1 2106 HMDS data farm connection is OK:cashhmds
Error -1 2106 HMDS data farm connection is OK:fundfarm
Error -1 2106 HMDS data farm connection is OK:ushmds
Error -1 2158 Sec-def data farm connection is OK:secdefil

Portfolio Update: 3988, Position: 5000.0, Market Price: 4.5801201
Portfolio Update: ANY, Position: 26.0, Market Price: 0.62
Portfolio Update: AZJ, Position: 400.0, Market Price: 3.1400001
Portfolio Update: BMY, Position: 8.5867, Market Price: 47.04999925
Portfolio Update: GAP, Position: 7.7032, Market Price: 22.62999915
Portfolio Update: GTEK, Position: 1.0, Market Price: 36.3667984
Portfolio Update: HPP, Position: 1342.0, Market Price: 2.77999995
Portfolio Update: INTC, Position: 2.5562, Market Price: 22.4300003
Portfolio Update: JOBY, Position: 1.0, Market Price: 10.52999975
Portfolio Update: KHC, Position: 1.0, Market Price: 26.6499996
Portfolio Update: LTCH, Position: 200.0, Market Price: 0.143583
Portfolio Update: MCW, Position: 1.0, Market Price: 6.4429102
Portfolio Update: MO, Position: 3.3014, Market Price: 59.5400009
Portfolio Update: OPEN, Position: 2000.0, Market Price: 0.6099
Portfolio Update: PFE, Position: 32.0, Market Price: 25.4300003
Portfolio Update: QDEL, Position: 2.3789, Market Price: 30.1821995
Portfolio Update: QS, Position: 6001.0, Market Price: 6.98
Portfolio Update: QS, Position: -30.0, Market Price: 0.2329489
Portfolio Update: QS, Position: -50.0, Market Price: 0.3647916
Portfolio Update: ROOT, Position: 32.2759, Market Price: 124.23999785
Portfolio Update: TLRY, Position: 2.0, Market Price: 0.5347
Portfolio Update: VDE, Position: 1.0, Market Price: 122.11499785
Portfolio Update: VOO, Position: 0.1365, Market Price: 574.4279785
Portfolio download complete for account: U4565649
Error -1 2100 API client has been unsubscribed from account data.

In [50]:
list1 = item.req_portfolio()
df = pd.DataFrame(list1)

In [51]:
df

,symbol,sec_type,expiry,strike,right,position,market_price,market_value,average_cost,unrealized_pnl,realized_pnl,account_name
0,3988,STK,,0.0,0,5000.0000,4.580120,22900.60,2.867481,8563.19,0.0,U4565649
1,ANY,STK,,0.0,0,26.0000,0.620000,16.12,21.101258,-532.51,0.0,U4565649
2,AZJ,STK,,0.0,0,400.0000,3.140000,1256.00,3.705000,-226.00,0.0,U4565649
3,BMY,STK,,0.0,0,8.5867,47.049999,404.00,57.659765,-91.10,0.0,U4565649
4,GAP,STK,,0.0,0,7.7032,22.629999,174.32,9.736045,99.32,0.0,U4565649
5,GTEK,STK,,0.0,0,1.0000,36.366798,36.37,27.390000,8.98,0.0,U4565649
6,HPP,STK,,0.0,0,1342.0000,2.780000,3730.76,3.182548,-540.22,0.0,U4565649
7,INTC,STK,,0.0,0,2.5562,22.430000,57.34,29.339606,-17.66,0.0,U4565649
8,JOBY,STK,,0.0,0,1.0000,10.530000,10.53,5.910000,4.62,0.0,U4565649
9,KHC,STK,,0.0,0,1.0000,26.650000,26.65,30.980000,-4.33,0.0,U4565649
10,LTCH,STK,,0.0,0,200.0000,0.143583,28.72,1.207158,-212.71,0.0,U4565649
11,MCW,STK,,0.0,0,1.0000,6.442910,6.44,6.980000,-0.54,0.0,U4565649
12,MO,STK,,0.0,0,3.3014,59.540001,196.57,41.578058,59.30,0.0,U4565649
13,OPEN,STK,,0.0,0,2000.0000,0.609900,1219.80,2.387896,-3555.99,0.0,U4565649
14,PFE,STK,,0.0,0,32.0000,25.430000,813.76,25.650000,-7.04,0.0,U4565649
15,QDEL,STK,,0.0,0,2.3789,30.182199,71.80,126.103998,-228.19,0.0,U4565649
16,QS,OPT,20250808,6.0,P,-50.0000,0.364792,-1823.96,57.573560,1054.72,0.0,U4565649
17,ROOT,STK,,0.0,0,32.2759,124.239998,4009.96,82.623518,1343.21,0.0,U4565649
18,TLRY,STK,,0.0,0,2.0000,0.534700,1.07,1.700000,-2.33,0.0,U4565649
19,VDE,STK,,0.0,0,1.0000,122.114998,122.11,39.300000,82.81,0.0,U4565649
20,VOO,STK,,0.0,0,0.1365,574.427978,78.41,366.100366,28.44,0.0,U4565649

In [52]:
item.close_loop()

Connection Stops

In [53]:
df = df.fillna("")
df

,symbol,sec_type,expiry,strike,right,position,market_price,market_value,average_cost,unrealized_pnl,realized_pnl,account_name
0,3988,STK,,0.0,0,5000.0000,4.580120,22900.60,2.867481,8563.19,0.0,U4565649
1,ANY,STK,,0.0,0,26.0000,0.620000,16.12,21.101258,-532.51,0.0,U4565649
2,AZJ,STK,,0.0,0,400.0000,3.140000,1256.00,3.705000,-226.00,0.0,U4565649
3,BMY,STK,,0.0,0,8.5867,47.049999,404.00,57.659765,-91.10,0.0,U4565649
4,GAP,STK,,0.0,0,7.7032,22.629999,174.32,9.736045,99.32,0.0,U4565649
5,GTEK,STK,,0.0,0,1.0000,36.366798,36.37,27.390000,8.98,0.0,U4565649
6,HPP,STK,,0.0,0,1342.0000,2.780000,3730.76,3.182548,-540.22,0.0,U4565649
7,INTC,STK,,0.0,0,2.5562,22.430000,57.34,29.339606,-17.66,0.0,U4565649
8,JOBY,STK,,0.0,0,1.0000,10.530000,10.53,5.910000,4.62,0.0,U4565649
9,KHC,STK,,0.0,0,1.0000,26.650000,26.65,30.980000,-4.33,0.0,U4565649
10,LTCH,STK,,0.0,0,200.0000,0.143583,28.72,1.207158,-212.71,0.0,U4565649
11,MCW,STK,,0.0,0,1.0000,6.442910,6.44,6.980000,-0.54,0.0,U4565649
12,MO,STK,,0.0,0,3.3014,59.540001,196.57,41.578058,59.30,0.0,U4565649
13,OPEN,STK,,0.0,0,2000.0000,0.609900,1219.80,2.387896,-3555.99,0.0,U4565649
14,PFE,STK,,0.0,0,32.0000,25.430000,813.76,25.650000,-7.04,0.0,U4565649
15,QDEL,STK,,0.0,0,2.3789,30.182199,71.80,126.103998,-228.19,0.0,U4565649
16,QS,OPT,20250808,6.0,P,-50.0000,0.364792,-1823.96,57.573560,1054.72,0.0,U4565649
17,ROOT,STK,,0.0,0,32.2759,124.239998,4009.96,82.623518,1343.21,0.0,U4565649
18,TLRY,STK,,0.0,0,2.0000,0.534700,1.07,1.700000,-2.33,0.0,U4565649
19,VDE,STK,,0.0,0,1.0000,122.114998,122.11,39.300000,82.81,0.0,U4565649
20,VOO,STK,,0.0,0,0.1365,574.427978,78.41,366.100366,28.44,0.0,U4565649

In [56]:
df

,symbol,sec_type,expiry,strike,right,position,market_price,market_value,average_cost,unrealized_pnl,realized_pnl,account_name
0,3988,STK,NaN,0.0,0,5000.0000,4.580120,22900.60,2.867481,8563.19,0.0,U4565649
1,ANY,STK,NaN,0.0,0,26.0000,0.620000,16.12,21.101258,-532.51,0.0,U4565649
2,AZJ,STK,NaN,0.0,0,400.0000,3.140000,1256.00,3.705000,-226.00,0.0,U4565649
3,BMY,STK,NaN,0.0,0,8.5867,47.049999,404.00,57.659765,-91.10,0.0,U4565649
4,GAP,STK,NaN,0.0,0,7.7032,22.629999,174.32,9.736045,99.32,0.0,U4565649
5,GTEK,STK,NaN,0.0,0,1.0000,36.366798,36.37,27.390000,8.98,0.0,U4565649
6,HPP,STK,NaN,0.0,0,1342.0000,2.780000,3730.76,3.182548,-540.22,0.0,U4565649
7,INTC,STK,NaN,0.0,0,2.5562,22.430000,57.34,29.339606,-17.66,0.0,U4565649
8,JOBY,STK,NaN,0.0,0,1.0000,10.530000,10.53,5.910000,4.62,0.0,U4565649
9,KHC,STK,NaN,0.0,0,1.0000,26.650000,26.65,30.980000,-4.33,0.0,U4565649
10,LTCH,STK,NaN,0.0,0,200.0000,0.143583,28.72,1.207158,-212.71,0.0,U4565649
11,MCW,STK,NaN,0.0,0,1.0000,6.442910,6.44,6.980000,-0.54,0.0,U4565649
12,MO,STK,NaN,0.0,0,3.3014,59.540001,196.57,41.578058,59.30,0.0,U4565649
13,OPEN,STK,NaN,0.0,0,2000.0000,0.609900,1219.80,2.387896,-3555.99,0.0,U4565649
14,PFE,STK,NaN,0.0,0,32.0000,25.430000,813.76,25.650000,-7.04,0.0,U4565649
15,QDEL,STK,NaN,0.0,0,2.3789,30.182199,71.80,126.103998,-228.19,0.0,U4565649
16,QS,OPT,08/08/2025,6.0,P,-50.0000,0.364792,-1823.96,57.573560,1054.72,0.0,U4565649
17,ROOT,STK,NaN,0.0,0,32.2759,124.239998,4009.96,82.623518,1343.21,0.0,U4565649
18,TLRY,STK,NaN,0.0,0,2.0000,0.534700,1.07,1.700000,-2.33,0.0,U4565649
19,VDE,STK,NaN,0.0,0,1.0000,122.114998,122.11,39.300000,82.81,0.0,U4565649
20,VOO,STK,NaN,0.0,0,0.1365,574.427978,78.41,366.100366,28.44,0.0,U4565649

In [54]:

df['expiry'] = pd.to_datetime(df['expiry'], format='%Y%m%d').dt.strftime('%m/%d/%Y')

df_put_option = df[(df['sec_type'] == 'OPT') & (df['right'] == 'P')]
df_call_option = df[(df['sec_type'] == 'OPT') & (df['right'] == 'C')]
df_long_position = df[(df['sec_type'] == 'STK')]

# reoder and choose correct columns
df_put_option = df_put_option[["sec_type","expiry","symbol","strike", "position","average_cost"]]
df_call_option = df_call_option[["sec_type","expiry","symbol","strike", "position","average_cost"]]
df_long_position = df_long_position[["sec_type","expiry","symbol","strike", "position","average_cost"]]
# Convert to list
list_put_option = [df_put_option.columns.tolist()] + df_put_option.values.tolist()
list_call_option = [df_call_option.columns.tolist()] + df_call_option.values.tolist()
list_stock = [df_long_position.columns.tolist()] + df_long_position.values.tolist()

In [ ]:
df.fillna

,symbol,sec_type,expiry,strike,right,position,market_price,market_value,average_cost,unrealized_pnl,realized_pnl,account_name
0,3988,STK,NaN,0.0,0,5000.0000,4.580120,22900.60,2.867481,8563.19,0.0,U4565649
1,ANY,STK,NaN,0.0,0,26.0000,0.620000,16.12,21.101258,-532.51,0.0,U4565649
2,AZJ,STK,NaN,0.0,0,400.0000,3.140000,1256.00,3.705000,-226.00,0.0,U4565649
3,BMY,STK,NaN,0.0,0,8.5867,47.049999,404.00,57.659765,-91.10,0.0,U4565649
4,GAP,STK,NaN,0.0,0,7.7032,22.629999,174.32,9.736045,99.32,0.0,U4565649
5,GTEK,STK,NaN,0.0,0,1.0000,36.366798,36.37,27.390000,8.98,0.0,U4565649
6,HPP,STK,NaN,0.0,0,1342.0000,2.780000,3730.76,3.182548,-540.22,0.0,U4565649
7,INTC,STK,NaN,0.0,0,2.5562,22.430000,57.34,29.339606,-17.66,0.0,U4565649
8,JOBY,STK,NaN,0.0,0,1.0000,10.530000,10.53,5.910000,4.62,0.0,U4565649
9,KHC,STK,NaN,0.0,0,1.0000,26.650000,26.65,30.980000,-4.33,0.0,U4565649
10,LTCH,STK,NaN,0.0,0,200.0000,0.143583,28.72,1.207158,-212.71,0.0,U4565649
11,MCW,STK,NaN,0.0,0,1.0000,6.442910,6.44,6.980000,-0.54,0.0,U4565649
12,MO,STK,NaN,0.0,0,3.3014,59.540001,196.57,41.578058,59.30,0.0,U4565649
13,OPEN,STK,NaN,0.0,0,2000.0000,0.609900,1219.80,2.387896,-3555.99,0.0,U4565649
14,PFE,STK,NaN,0.0,0,32.0000,25.430000,813.76,25.650000,-7.04,0.0,U4565649
15,QDEL,STK,NaN,0.0,0,2.3789,30.182199,71.80,126.103998,-228.19,0.0,U4565649
16,QS,OPT,08/08/2025,6.0,P,-50.0000,0.364792,-1823.96,57.573560,1054.72,0.0,U4565649
17,ROOT,STK,NaN,0.0,0,32.2759,124.239998,4009.96,82.623518,1343.21,0.0,U4565649
18,TLRY,STK,NaN,0.0,0,2.0000,0.534700,1.07,1.700000,-2.33,0.0,U4565649
19,VDE,STK,NaN,0.0,0,1.0000,122.114998,122.11,39.300000,82.81,0.0,U4565649
20,VOO,STK,NaN,0.0,0,0.1365,574.427978,78.41,366.100366,28.44,0.0,U4565649

In [48]:
import math
for row in list_stock:
    for val in row:
        if isinstance(val, float) and (math.isnan(val) or math.isinf(val)):
            print(f"Found problematic value: {val}")

Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan
Found problematic value: nan